<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :add_new_holiday%></legend>
      <div class="panel"><%= t :organization_holidays_new_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>