<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%= t :new_access_level %></legend>
      <div class="panel"><%= t :access_level_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
