<div class="row">
  <div class="large-12 columns">
  <%= render 'form' %>
  <% if !@employee.account.nil? %>
    <%= link_to "Edit Login Info", organization_employee_edit_login_info_path(@organization, @employee)%>
  <% else %>
    <%= link_to "Add Login", organization_employee_new_login_path(@organization, @employee)%>
  <% end %>
  </div>
</div>
