<div class="row">
  <div class="large-8 small-12 columns">
    <h3><%= t :add_new_employee %></h3>
    <blockquote>This is where you add your employee's details. 
    Please note that login information is not created here</blockquote>
    <%= render 'form' %>
  </div>
</div>
