<div class="row">
  <div class="large-8 small-12 columns">
    <h3><%= t :add_new_employee %></h3>
    <blockquote><%= t :employees_add_new_description %></blockquote>
    <%= render 'form' %>
  </div>
</div>
