<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :edit %> <%= @position.name %></legend>
      <div class="panel"><%= t :positions_edit_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
