<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :add_new_position %></legend>
      <div class="panel"><%= t :positions_new_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
