<div class="row">
  <div class="large-8 small-12 columns">
    <h3><%= t :add_new_position %></h3>
    <blockquote>This is where add position for your organization like Executive or manager.</blockquote>
    <%= render 'form' %>
  </div>
</div>
