<div class="row">
  <div class="large-12 columns">
    <h3><%= t :edit %> <%= @leave_type.name %></h3>
    <blockquote><%= t :leave_types_edit_description %></blockquote>
    <%= render 'form' %>
  </div>
</div>
