<div class="row">
  <div class="large-12 columns">
    <h3><%= t :edit %> <%= @leave_type.name %></h3>
    <blockquote>This is where you edit leave types of your organization.</blockquote>
    <%= render 'form' %>
  </div>
</div>
