<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :add_new_leave_type %></legend>
      <div class="panel"><%= t :leave_types_new_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
