<div class="row">
  <div class="large-12 columns">
    <h3><%= t :add_new_leave_type %></h3>
    <blockquote><%= t :leave_types_new_description %></blockquote>
    <%= render 'form' %>
  </div>
</div>
