<ul class="inline-list">
  <li>
    <%= link_to t(:my_claims), my_claims_path %>
  </li>
  <li>
    <%= link_to t(:apply_claim), new_organization_claim_path(current_organization) if !current_organization.id.nil?%>
  </li>
</ul>