<div class="row footer">
  <div class="large-12 columns">
    <div class="back-footer">
      <div class="top-nav-bar">
        <ul class="inline-list">
          <li><%= link_to "Leave", organization_leaves_path(current_organization)  if !current_organization.id.nil?%></li>
          <li><a href="#">Salary</a></li>
          <li><a href="#">Claim</a></li>
        </ul>
      </div>
      <h5>Office Mage - Copyright 2013 Alpha Melon Sdn Bhd</h5>
    </div>
  </div>
</div>