<div class="row footer">
  <div class="large-12 columns">
    <div class="back-footer">
      <div class="top-nav-bar">
        <ul class="inline-list">
          <li><%= link_to "footer link"%></li>
          <li><%= link_to "footer link 2"%></li>
          <li><%= link_to "footer link 3" %></li>
        </ul>
      </div>
      <%= current_organization.name.capitalize if !current_organization.new_record? %>
      <h5>Office Mage - Copyright 2013 Alpha Melon Sdn Bhd</h5>
    </div>
  </div>
</div>
