<ul class="inline-list">
  <li><%= link_to t(:dashboard), root_path %></li>
  <li><%= link_to t(:leaves),  my_leaves_path, id: "my_leaves" %></li>
  <li><%= link_to t(:claims),  my_claims_path, id: "my_claims" %></li>
  <li><%= link_to t(:salary) %></li>
</ul>
