<ul class="inline-list">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "Leaves",  my_leaves_path, id: "my_leaves" %></li>
  <li><%= link_to "Claims",  my_claims_path, id: "my_claims" %></li>
  <li><%= link_to "Salary" %></li>
</ul>
