<ul class="inline-list">
  <li><%= link_to "Leave", organization_leaves_path(current_organization) %></li>
  <li><a href="#">Salary</a></li>
  <li><%= link_to "Claims",  organization_claims_path(current_organization), id: "organization_claims"%></li>
</ul>