<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%= t :edit %> <%= @department.name %></legend>
      <div class="panel"><%= t :departments_edit_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
