<div class="row">
  <div class="large-8 small-12 columns">
    <h3><%= t :edit %> <%= @department.name %></h3>
    <blockquote>This is where you edit your department's name.</blockquote>
    <%= render 'form' %>
  </div>
</div>
