<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%= t (:add_new_department) %></legend>
      <div class="panel"><%= t :departments_add_new_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
