<div id="superContainer">
    <div class="section">
      <ul id="scene" class="scene">
        <li class="layer" data-depth="0.2"><div class="background"></div></li>

        <li class="layer" data-depth="0">
          <div class="rows">
            <div class="large-12 column show-for-medium-up">
              <h1>Office Mage</h1>
              <h3 class="subheader">
                Magic for your office
              </h3>
            </div>
            <div class="large-12 column show-for-small">
              <h1>Discover local brands.</h1>
              <h3 class="subheader">
                 We'll hook you up with t-shirts from two local brands. Delivered to you monthly.
              </h3>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="section">
        <div class="slide"> Slide 1 </div>
        <div class="slide"> Slide 2 </div>
        <div class="slide"> Slide 3 </div>
        <div class="slide"> Slide 4 </div>
    </div>

    <div class="section">
        <div class="slide"> Slide 1 </div>
        <div class="slide"> Slide 2 </div>
        <div class="slide"> Slide 3 </div>
        <div class="slide"> Slide 4 </div>
    </div>
</div>
