<div id="superContainer">
  <div class="section">
    <ul id="scene" class="scene">
      <li class="layer" data-depth="0.2"><div class="background"></div></li>

      <li class="layer" data-depth="0">
        <div class="row first-page">
          <div class="large-12 columns hide-for-medium hide-for-small">
            <div class="row">
              <div class="large-5 columns">
                <center><h1>let's get started.</h1></center>
                <center><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></center>
                <%= link_to "Register Now", new_account_registration_path, class: "button radius" %>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
