<div class="row">
  <div class="large-8 large-centered columns">
    <div class="panel large-12"><%= t :sign_in_go_domain %></div>
    <ul>
      <% current_account.organizations.each do |org| %>
        <li><%= link_to org.name.capitalize, host: org.domain %></li>
      <% end %>
    </ul>
  </div>
</div>
