<div class="row coming-header">
  <div class="large-8 large-centered columns">

    <div class="large-6 large-centered columns">
      <center>
        <%= image_tag('logo/hrmerge-logo.jpg') %>
      </center>
    </div>

    <div class="large-12 large-centered columns">
      <center>
        <h1>UNDER <strong><span class="coming-color">CONSTRUCTION</span></strong></h1>
        <h4 class="coming-color">"MAGIC FOR YOUR OFFICE, COMING SOON. . ."</h4>
        <h6>By AlphaMelon Sdn Bhd</h6>
      </center>
    </div>

  </div>
</div>