<h5>Welcome, your now in <%= current_organization.name.capitalize if !current_organization.new_record?%> Organization</h5>

<% if account_signed_in? %>
  <%= render "sign_in" %>
<% else %>
  <%= render "not_sign_in" %>
<% end %>