<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :editing_settings%></legend>
      <div class="panel"><%= t :organization_settings_edit_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
