<div class="row">
  <div class="large-8 small-12 columns">
    <h3><%= t :editing_settings%> </h3>
    <blockquote>This is where you edit organization's settings. 
    You need to enter the number of working hours per day, 
    leave blank if it is not a working day for your organization</blockquote>
    <%= render 'form' %>
  </div>
</div>
