<div class="row">
  <div class="large-8 small-12 columns">
    <h3><%= t :editing_settings%> </h3>
    <blockquote><%= t :organization_settings_edit_description %></blockquote>
    <%= render 'form' %>
  </div>
</div>
