<div class="row">
  <div class="large-8 small-12 columns">
  <h3><%= t :adding_new_setting %></h3>
    <blockquote>This is where you add organization's settings. 
    You need to enter the number of working hours per day, 
    leave blank if it is not a working day for your organization</blockquote>
    <%= render 'form' %>
  </div>
</div>
