<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :adding_new_setting %></legend>
      <div class="panel"><%= t :organization_settings_new_description %></div>
      <%= render 'form' %>
    </fieldset>    
  </div>
</div>
