<div class="row">
  <div class="large-6 columns">

    <%= simple_form_for [@employee, @document] do |f| %>
      <%= f.input :name %>
      <%= f.input :image, as: :file %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
