<div class="row">
  <div class="large-12 columns">
    <h3><%= t :edit %> <%= @document.name.capitalize %> <%= t :documents %></h3>
    <blockquote>This is where you edit employee's document.</blockquote>
    <%= render 'form' %>
  </div>
</div>
