<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :edit %> <%= @claim_subject.name %></legend>
      <div class="panel"><%= t :claim_subject_edit_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
