<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%= t :add_new_claim_subject %></legend>
      <div class="panel"><%= t :claim_subject_new_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
