<div class="row">
  <div class="large-8 small-12 columns">
    <fieldset>
      <legend><%= t :edit %> setting</legend>
      <div class="panel">This is where you can edit specific employee settings</div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
