<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%= t :edit %> <%= t :setting%></legend>
      <div class="panel"><%= t :employee_variables_edit %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
