<div class="row">
  <div class="large-9 large-centered small-12 columns">
    <fieldset>
      <legend><%= t :edit %> <%= t :settings %></legend>
      <div class="panel"><%= t :position_setting_edit_description %></div>
      <%= render 'form' %>
    </fieldset>
  </div>
</div>
