.alert-box.account{
  background-color: #c17d11;
  a{
    text-decoration: underline;
    color: #fff;
  }
}
.alert-box.notice {
  background-color: #4793fd;
  border-color: #457a1a;
  color: white;
}
.devise-container{
	margin-top: 1em;
}
.organ-container{
	margin-top: 1em;
}
.department-container{
	margin-top: 1em;
}