html, body{
  font-size: 80%;
}

.alert-box.account{
  background-color: #c17d11;
  a{
    text-decoration: underline;
    color: #fff;
  }
}
.alert-box.notice {
  background-color: #4793fd;
  border-color: #457a1a;
  color: white;
}

.devise-container{
  margin-top: 1em;
}

.employees-container{
  margin-top: 1em;
}

.logo{
  margin-top: 1em;
}
.top-nav-bar{
  margin-top: 5em;
  .panel{
    margin-top: -2.5em;
  }
}

.user-panel{
  ul,li{
    display: inline-block;
    padding-right: 0.83em;
  }
}
.footer{
  margin-top: 1em;
}
.back-footer{
  background-color: whiteSmoke;
  border: 1px solid #DADADA;
  padding-left: 1em;
  h5{
    margin-bottom: 1em;
  }
  .top-nav-bar{
    margin-top: 1em;
  }
}

.offday {
  background-color: #C1C9FA;
}

.holiday {
  background-color: #F3E2C7;
}

.present{
  background-color: #E7E7E7;
}
.absent{
  background-color: #da1337;
}

.pending{
  background-color: #000000;
}
.table-overflow{
  overflow-x:auto;
}

.coming-header{
  margin-top: 8em;
}
.coming-color{
  color: #008CBA;
}
.remark-leaves{
  margin-top: 1em;
}
.minicolors-theme-default .minicolors-swatch {
  top: 1px;
}
.dashboard{
  min-height: 350px;
}
.sign_in{
  margin-top: 9em;
}
.boolean{
  input{
    margin-top: 0.8em;
  }
}
.after-signup{
  .current{
    font-weight: bold;
  }
}
.paginator-page{
  .current{
    display: block;
    padding: 0.05556rem 0.55556rem 0.05556rem;
    font-weight: bold;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #008CBA;
    color: #FFF;
    font-weight: bold;
  }
}
.activity{
  h5{
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: none;
    small {
      color: #BBB;
    }
  }
  .large-12 {
    margin-bottom: 1em;
  }
}

.first-top-bar{
  margin-top: 1em;
}

.top-bar-nav{
  margin-bottom: 0;
  margin-top: 1em;
  .hover3{
    cursor: not-allowed;
  }
  .organization{
    text-transform: capitalize;
  }
}

.first-nav{
  background-color: #3498db;
  ul,li{
    a{
      color: #f5f5f5;
      text-transform: uppercase;
    }
    a:hover{
      color: #95a5a6; 
    }
  }
}

.admin-first-nav{
  .inline-list{
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    h6{
      color: #fff;
    }
  }
}

.second-nav{
  background-color: #2ecc71;
  .inline-list{
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    ul,li{
      a{
        color: #fff;
        text-transform: uppercase;
        font-size: 0.85em;
      }
      a:hover{
        color: #95a5a6;
      }
    }
  }
}

.first-nav-icon{
  margin-top: -5px;
}

.content-header{
  background-color: #F5F5F5;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 1em;
  padding-top: 1em;
  h2{
    color: #222;
    text-transform: capitalize;
  }
}

.profile{
  margin-top: 2em;
  h6{
    text-transform: capitalize;
  }
  .exception{
    text-transform: none;
  }
}