/*

 *= require foundation_and_overrides
 *= require jquery.fullPage
 *= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

body{
  font-family: 'Open Sans', sans-serif !important;
  h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif !important;
    color: #555 !important;
  }
}


.section{
  text-align:center;
}


.subheader{
  margin-top:0px;
  color: #FEFEFE;
}

.scene, .layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.layer {
  position: absolute;
  h1,h2,h3,h4,h5,h6 {
    color: #222;
  }
}
.layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.background {
  background-image: url(image-path('1.jpg'));
  background-color: #3498db;
  bottom: -5%;
  background-size: cover;
  position: absolute;
  background-position-x: center;
  width: 110%;
  left: -5%;
  top: -5%;
}
.hands {
  background-image: url(image-path( 't33_home_hands.gif'));
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  background-position-y: bottom;
  height: 100%;
}

@media only screen and (max-width: 500px){
  body {
    font-size: 80%;
  }
  .hands {
    background-size: 600px auto;
    bottom: -5%;
  }
  .section-three{
    background-image:url(image_path('home.jpg')) !important;
    background-size: cover;
  }
}

.first-page{
  margin-top: 21.375em;
  margin-bottom: 21.375em;
  p{
    color: #222;
  }
}

.second-page{
}

.section-three{
  background-image:url(image_path('cofee.jpg'));
  background-size: cover;
}

.text{
  margin-bottom: 3em;
}

.icon-image-size{
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.th{
  background-color: #16a085;
  border: solid 4px #3BC492;
}
