<div class="row">
  <div class="large-6 columns">
    <div class="organ-container">
      <ul class="breadcrumbs">
        <li><%=link_to "organization", organizations_path %></li>
        <li><%=link_to @organization.name, organization_path(@organization) %></li>
        <li class="current">Edit <%= @organization.name %></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
  <%= render 'form' %>
  </div>
</div>
