<div class="row">
  <div class="large-12 columns">
  <h3><%= t :add_new_organization %></h3>
    <blockquote>This is where you create a new organization. 
    Your domain will be named according to your organization's name</blockquote>
    <%= render 'form' %>
  </div>
</div>
