<div class="row">
  <div class="large-12 columns">
    Name : <%= @organization.name%><br />
    Domain : <%= @organization.domain%><br />
    <%= link_to "Edit", edit_organization_path(@organization) %>
  </div>
</div>
