<%= render "breadcrumbs", breadcrumbs_step: "payment"%>

<div class="row">
  <div class="large-6 columns">
    <p>Free for Alpha users!</p>
    <%= link_to t(:awesome), wizard_path(:finish), class: "button", id: "payment_skip"%>
  </div>
</div>
