<div class="row">
  <div class="large-12 columns">
    <%= render "breadcrumbs", breadcrumbs_step: "payment"%>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <%= link_to t(:skip), wizard_path(:finish), class: "button"%>
  </div>
</div>